.modal-button {
  border: 1px solid green !important;
  color: green !important;
  font-size: 15px !important;
  background-color: white !important;
  margin-top: 10px !important;
}

input,
label,
form.Field {
  font-size: 13px !important;
  font-weight: bold;
}

.hi {
  padding-left: 100px;
  padding-right: 200px;
}
label {
}
.headers {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 30px;
}
.help {
  margin-bottom: 10px !important;
}

#heckyes {
  font-weight: normal !important;
}
