.start {
  margin: 100px auto;
  padding-top: 80px;
  padding-bottom: 80px;
  /* border: 20px solid blue; */
  width: 50%;
  display: inline-block;
  border: 4px solid lightskyblue;
  margin-left: 25%;
  border-radius: 30px;
}

h1{
  color: red;
  padding-bottom: 50px;
}

/* Button{
  padding: 30px;
  color: white;
} */
